# idx id; idx class                          ;errors comma separated
mi_bs;multi_idx<simple_buckets_binsearch,t_k>;2,3,4,5
mi_bs_red;multi_idx_red<simple_buckets_binsearch,t_k,1>;2,3,4,5
mi_bs_red2;multi_idx_red<simple_buckets_binsearch,t_k,2>;3,4,5
#mi_bv;multi_idx<simple_buckets_binvector<>,t_k>;3,4,5
#mi_bv_red;multi_idx_red<simple_buckets_binvector<>,t_k,1>;4,5
